/* ==========================================================================
	 buttons
	 ========================================================================== */

   button {
     background: rgba(191,94,214,100);
     background: linear-gradient(45deg, rgba(191,94,214,1) 0%, rgba(216,113,250,1) 100%);
     background-repeat: no-repeat;
     width: 90px;
     height: 34px;
     float: right;
     display: inline-block;
     margin-top: 20px;
     font: $font-size $font-family;
     color: $white;
     text-align: center;
     border: 0;
     border-radius: 4px;
     cursor: pointer;
     outline: none;
     box-shadow: 0px 3px 6px 0px rgba(0,0,0, .10);

     &.removeAll {
       background: none;
       height: auto;
       margin-top: 15px;
       padding: 0;
       color: rgba(255, 255, 255, .2);
       font-size: $font-size - 3;
       box-shadow: none;
     }
   }