/* ==========================================================================
	 forms
	 ========================================================================== */
  input[type="checkbox"] {
    margin-right: 10px;
  }

  input[type="text"] {
    width: 50%;
    height: 24px;
    font: $font-size $font-family;
    color: $black;
    letter-spacing: 1px;
    border-radius: 0px;
    border-bottom: 1px solid $pink;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    outline: none;
    padding: 10px;
    margin-top: -2px;
    margin-left: 35px;

    &.line {
      background: none;
      max-width: 400px;
      width: 100%;
      height: 34px;
      color: $white;
      border-radius: 0;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      border-top: 0;
      border-left: 0;
      border-right: 0;
      padding: 10px 0;
      margin-top: 20px;
      margin-left: 0;
      float: left;
      transition: border-bottom .2s;

      &:focus {
        border-bottom: 1px solid rgba(255, 255, 255, 0.6);
        transition: border-bottom .2s;
      }
    }
  }


  /* Base for label styling */
  [type="checkbox"]:not(:checked),
  [type="checkbox"]:checked {
    position: absolute;
    opacity: 0;
  }

  [type="checkbox"]:not(:checked) + label,
  [type="checkbox"]:checked + label {
    position: absolute;
    top: 10px;
    padding-left: 1.95em;
    cursor: pointer;
  }

  /* checkbox aspect */
  [type="checkbox"]:not(:checked) + label:before {
    content: '';
    background: $white;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid $pink;
    border-radius: 50%;
    box-shadow: 0px 1px 4px rgba(0,0,0, 0.1);
    transition: transform .1s, background .1s;
  }

  [type="checkbox"]:checked + label:before {
    content: '';
    background: rgba(191,94,214,100);
    background: linear-gradient(45deg, rgba(191,94,214,1) 0%, rgba(216,113,250,1) 100%);
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid $pink;
    border-radius: 50%;
    box-shadow: 0px 1px 4px rgba(0,0,0, 0.1);
    transition: transform .1s, background .1s;
  }

  /* checked mark aspect */
  [type="checkbox"]:not(:checked) + label:after,
  [type="checkbox"]:checked + label:after {
    content: '';
    background: url('../images/icon_checkmark.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 3px;
    left: 4px;
    transition: transform .1s, background .1s;
  }

  /* checked mark aspect changes */
  [type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
  }

  [type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
  }