/* Other layout elements
   ========================================================================== */

* {
  box-sizing: border-box;
}

body,
html {
  background: rgb(109,56,213);
  background: linear-gradient(45deg, rgba(109,56,213,1) 0%, rgba(159,84,172,1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font: $font-size $font-family;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section {
  max-width: 540px;
  width: 100%;
  margin: 0 auto 25px;
  display: block;
  padding: 20px;
  border-radius: 5px;

  .container {
    width: 100%;
    display: block;

    @include clearfix;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;

    li {
      background: $white;
      width: 100%;
      min-height: 40px;
      position: relative;
      display: block;
      font: $font-size $font-family;
      color: $black;
      margin-bottom: 25px;
      padding: 10px;
      border-radius: 4px;
      box-shadow: 0px 7px 8px 0px rgba(0,0,0, .1);

      &:last-of-type {
        margin-bottom: 0;
      }

      span.orderUp,
      span.orderDown {
        margin-left: 15px;
        cursor: pointer;
        font-family: $font-family-medium;
      }

      img.remove,
      img.edit {
        width: 16px;
        height: auto;
        margin-left: 15px;
        cursor: pointer;
        float: right;
      }

      span.value {
        margin-left: 35px;
        max-width: 380px;
        width: 100%;
        display: inline-block;
        word-break: break-word;

        @media screen and (max-width: 480px) {
          max-width: 210px;
        }

        &.checked {
          text-decoration: line-through;
          color: $black;
        }
      }
    }
  }
}