/* fonts
   ========================================================================== */
   @font-face {
       font-family: 'CircularMedium';
       src: url('../fonts/CircularStd-Medium.woff2') format('woff2'),
           url('../fonts/CircularStd-Medium.woff') format('woff'),
           url('../fonts/CircularStd-Medium.ttf') format('truetype'),
           url('../fonts/CircularStd-Medium.svg#CircularStd-Medium') format('svg');
       font-weight: 500;
       font-style: normal;
   }

   @font-face {
       font-family: 'Circular';
       src: url('../fonts/CircularStd-Book.woff2') format('woff2'),
           url('../fonts/CircularStd-Book.woff') format('woff'),
           url('../fonts/CircularStd-Book.ttf') format('truetype'),
           url('../fonts/CircularStd-Book.svg#CircularStd-Book') format('svg');
       font-weight: normal;
       font-style: normal;
   }



/* headings
   ========================================================================== */

  h1 {
    text-align: center;
    font: 24px $font-family-medium;
    color: $white;
  }