
/* ==========================================================================
   Variables
   ========================================================================== */

// colours
$white: #ffffff;
$black: #605D62;
$pink: #D07FEE;

// font weights
$light: 300;
$normal: 400;
$semi-bold: 600;
$bold: 700;

// Media query breakpoints
$desktop: 1024px;
$tablet: 768px;
$mobile: 480px;